<ul class="social-nav">
    <li class="social-nav__item"><a href="{{site.links.github}}" class="social-nav__link" title="PHPSchool on Github">{{inc src="icon.hbs" name="github"}}</a></li>
    <li class="social-nav__item"><a href="{{site.links.twitter}}" class="social-nav__link" title="PHPSchool on Twitter">{{inc src="icon.hbs" name="twitter"}}</a></li>
    <li class="social-nav__item"><a href="{{site.links.slack}}" class="social-nav__link" title="PHPSchool on Slack">{{inc src="icon.hbs" name="slack"}}</a></li>
</ul>
